<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guilsch.vocavox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissions required by GoogleAuthUtil -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@raw/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@raw/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vocavox"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.guilsch.vocavox.ActivityMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityEditCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityNewCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityExplore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityLearn"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivitySettings"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityTrain"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityTranslation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityIntro"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeBothBarsBarTheme"/>
        <activity
            android:name="com.guilsch.vocavox.ActivityMain"
            android:exported="true"
            android:theme="@style/OrangeStatusBarTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <compatible-screens>

        <!-- Only for smartphones -->
        <screen
            android:screenSize="small"
            android:screenDensity="ldpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="mdpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="hdpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="xhdpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="xxhdpi" />
        <screen
            android:screenSize="small"
            android:screenDensity="xxxhdpi" />

    </compatible-screens>

</manifest>