<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guilsch.multivoc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissions required by GoogleAuthUtil -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_main_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Multivoc"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ActivityMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityEditCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityNewCard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityExplore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ActivityLearn"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivitySettings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityTrain"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityTranslation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>